src/wsdl/ServiciosTienda.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions
    name="ServiciosTienda"
    targetNamespace="http://www.itorizaba.com/ServiciosTienda.wsdl"
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
    xmlns:tns="http://www.itorizaba.com/ServiciosTienda.wsdl"
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:xsd1="http://www.itorizaba.com/ServiciosTienda.xsd1">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Created using Cape Clear Studio SOA Editor - http://www.capeclear.com</wsdl:documentation>
    <wsdl:types>
        <xsd:schema
            targetNamespace="http://www.itorizaba.com/ServiciosTienda.xsd1"
            xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:xsd1="http://www.itorizaba.com/ServiciosTienda.xsd1">
            <xsd:complexType name="Proveedor">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="nombre" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="url" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="Producto">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="nombre" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="descripcion" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="precio" type="xsd:float"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="proveedor" type="xsd1:Proveedor"/>
                    <xsd:element
                        maxOccurs="unbounded"
                        minOccurs="0"
                        name="lista"
                        type="xsd1:ProductoSugerido"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ProductoSugerido">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="id" type="xsd:int"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="nombre" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="descripcion" type="xsd:string"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="precio" type="xsd:float"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ListaProductos">
                <xsd:sequence>
                    <xsd:element
                        maxOccurs="unbounded"
                        minOccurs="0"
                        name="item"
                        type="xsd1:Producto"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="ErrorPeticion">
                <xsd:sequence>
                    <xsd:element maxOccurs="1" minOccurs="0" name="fallo" type="xsd:boolean"/>
                    <xsd:element maxOccurs="1" minOccurs="0" name="mensaje" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="GetProductosRequest">   </wsdl:message>
    <wsdl:message name="GetProductosResponse">
        <wsdl:part name="productos" type="xsd1:ListaProductos"/>
        <wsdl:part name="error" type="xsd1:ErrorPeticion"/>
    </wsdl:message>
    <wsdl:portType name="ServiciosTiendaPortType">
        <wsdl:operation name="GetProductos">
            <wsdl:input message="tns:GetProductosRequest"/>
            <wsdl:output message="tns:GetProductosResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServiciosTiendaBinding" type="tns:ServiciosTiendaPortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="GetProductos">
            <soap:operation
                soapAction="capeconnect:ServiciosTienda:ServiciosTiendaPortType#GetProductos"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServiciosTienda">
        <wsdl:port binding="tns:ServiciosTiendaBinding" name="ServiciosTiendaPort">
            <soap:address location="http://localhost:8000/ccx/ServiciosTienda"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>